
<form class="container">
  <br><br>
  <div class="media col-4">
    <div class="media-body">
      <h5 class="mt-0">Cadastro de pessoa</h5>
    </div>
  </div>
  <br>
  <div class="col-4">
    <input type="text" class="form-control" placeholder="Nome" aria-label="name" aria-describedby="basic-addon1"
           name="nome" id="nome" required>
    <br>
    <input type="text" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon1"
           name="nome" id="email" required>
    <br>
    <input type="text" class="form-control" placeholder="Telefone" aria-label="telefone" aria-describedby="basic-addon1"
           name="nome" id="telefone" required>
    <br>
    <input type="text" class="form-control" placeholder="CPF" aria-label="cpf" aria-describedby="basic-addon1"
           name="nome" id="cpf" required>
    <br>
    <label for="dataNascimento">Data de nascimento</label>
    <input type="date" class="form-control" name="dataNascimento" id="dataNascimento" required>
    <br>
    <div class="row">
      <div class="col">
    <input type="text" class="form-control" placeholder="Observações" aria-label="observacoes" aria-describedby="basic-addon1"
           name="nome" id="observacoes" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="submit" class="btn btn-primary mt-4 btn-sm" value="Salvar">
        &nbsp;&nbsp;
        <a href="#" class="btn btn-danger mt-4 btn-sm">Cancelar</a>
      </div>
    </div>
  </div>
</form>
<br><br><br>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Nome</th>
    <th scope="col">Email</th>
    <th scope="col">Telefone</th>
    <th scope="col">Nascimento</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>1</td>
    <td>Diego</td>
    <td>@gmail</td>
    <td>982336352</td>
    <td>25/07/1991</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>1</td>
    <td>Diego</td>
    <td>@gmail</td>
    <td>982336352</td>
    <td>25/07/1991</td>
  </tr>
  </tbody>
</table>
