<form class="container align-middle" [formGroup]="formGroupPessoa" (ngSubmit)="salvarPessoa()">
  <br><br>
  <div class="media col-4">
    <div class="media-body">
      <h5 class="mt-0">Cadastro de pessoa</h5>
    </div>
  </div>
  <br>
  <div class="col-4">
    <input type="text" class="form-control" placeholder="Nome" aria-describedby="basic-addon1"
           name="nome" id="nome" formControlName="name" required>
    <br>
    <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1"
           name="nome" id="email" formControlName="email" ngModel email="true" required>
    <br>
    <input type="text" (keypress)="onlynumber($event)" class="form-control" placeholder="DDD: 00" aria-describedby="basic-addon1"
           name="nome" id="ddd" formControlName="ddd" maxlength="2" required>
    <br>
    <input type="text" (keypress)="onlynumber($event)" class="form-control" placeholder="Telefone: 000000000" aria-describedby="basic-addon1"
           name="nome" id="telefone" formControlName="telefone" maxlength="9" required>
    <br>
    <input type="text" (keypress)="onlynumber($event)" class="form-control" placeholder="CPF: 00000000000" aria-describedby="basic-addon1"
           name="nome" id="cpf" formControlName="cpf" maxlength="11" required>
    <br>
    <label for="dataNascimento">Data de nascimento</label>
    <input type="date" class="form-control" formControlName="dataNascimento" name="dataNascimento" id="dataNascimento" required>
    <br>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Observações" aria-describedby="basic-addon1"
               name="observacoes" id="observacoes" formControlName="observacoes" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="submit" class="btn btn-primary mt-4 btn-sm" value="Salvar">
        &nbsp;&nbsp;
        <a class="btn btn-danger mt-4 btn-sm" (click)="reset()">Cancelar</a>
      </div>
    </div>
  </div>
</form>
<br><br><br>
<div class="container">
  <table class="table table-striped">
    <thead class="text-center">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col">Nascimento</th>
      <th scope="col">Opções</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr *ngFor="let p of pessoaList">
      <td>{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>{{p.email}}</td>
      <td>{{p.telefone}}</td>
      <td>{{p.dataNascimento}}</td>
      <td>
        <i class="bi bi-pencil-square" style="margin: 0 15px;" (click)="updatePessoa(p)"></i>
        <i class="bi bi-trash3" (click)="excluirPessoa(p)"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
